* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.drower__content {
    background-color: #fff;
    padding: 20px;
    position: fixed;
    inset: 0 auto;
    border: 3px solid blue;
    width: 400px;
    z-index: 101;
    transition: all .4s ease;
    transform: translateX(-100%);
}

.open {
    transform: translateX(0);
}


.drower__dr {
    background-color: rgba(27, 25, 25, 0.804);
    position: absolute;
    inset: 0;
    transition: all .6s ease;
    z-index: -1;
    opacity: 0;
}

.show {
    z-index: 100;
    opacity: 1;
}

.open__modal,
.open__modal2 {
    background-color: rgb(13, 116, 13);
    padding: 12px;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
}


.modal {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: fixed;
        z-index: 0;
        transition: all .4s ease;
        opacity: 0;
        transition: opacity 242ms;


        background-color: #f9f9f9;
        border: 2px solid #ccc;
        border-radius: 10px;
        width: 355px;
        padding: 20px;
        text-align: center;

        p {
            font-size: large;
            font-weight: 500;
        }

        .close__btn {
            display: flex;
            justify-content: end;

            button {
                padding: 10px;
                border-radius: 10px;
                border: none;
                background: red;
                color: white;
            }
        }
    }
}